.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 10px 40px 10px;
  text-align: center;
  align-items: center;
}
.container button {
  padding: 10px;
  font-family: Euclid, Helvetica, Arial, sans-serif;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 30px;
  box-shadow: 5px 5px 7px rgba(122, 121, 121, 0.7);
  background-color: #ff5200;
  color: #f3f2f0;
  cursor: pointer;
}
.container button:hover {
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
}
.container a {
  font-family: Euclid, Helvetica, Arial, sans-serif;
  color: #f3f2f0;
}
.container img {
  border-radius: 30px;
}
.container main {
  display: block;
  align-items: center;
  width: 70%;
  font-size: 1.3em;
  margin-bottom: 20px;
}
.container h1 {
  padding: 10px;
}
.container p {
  padding: 20px;
  text-align: center;
}
.container h1::first-letter {
  color: #ff5200;
}

.container span {
  font-weight: bold;
}

.img {
  width: 25%;
}
.wrapper {
  justify-content: center;
}
.comments {
  margin: 20px;
  padding: 20px;
  border: 1px solid #f3f2f0;
  align-items: center;
  text-align: center;
}
.comments li {
  list-style: none;
  padding: 5px;
  font-size: 1.2rem;
}
