/* .App {
  text-align: center;
} */
* {
  margin: 0;
  padding: 0;
}
.appContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

a {
  text-decoration: none;
}
